@{
    ViewData["Title"] = "Inicio";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenidos</h1>
        <p>¡CALIDAD ALTA A PRECIOS MUY BAJOS!</p>
        <a asp-controller="Producto" asp-action="ListProducts">Ver productos</a>
    </div>
